.board-row {
    width: 100%;
}

.board-row {
    margin-bottom:-6px;
    margin-top:-6px;
    border-bottom:1px;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    margin-right: -1px;
    padding: 0;
    width: var(--width);
    height: var(--height);
  }

  .undoButton {
    color:purple;
  }

  .redoButton {
    color:purple;
  }