:root{
  --width:34px;
  --height:var(--width);
}

.board-row {
  margin-bottom:-6px;
  margin-top:-6px;
  border-bottom:1px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  margin-right: -1px;
  padding: 0;
  width: var(--width);
  height: var(--height);
}

.game {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pallette{
  padding-bottom: 2px;
}
